---
http_interactions:
- request:
    method: get
    uri: https://madmimi.com/oauth/token/info
    body:
      encoding: US-ASCII
      string: access_token=33a5253abc24e6359072bc245f7682a4ada6629b6f893a4df379808d20bf60bd
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"90bf3858d6985e1636a5a5f1dbedc348"'
    body:
      encoding: UTF-8
      string: ! '{"resource_owner_id":52612,"scopes":["public","write"],"expires_in_seconds":5253,"application":{"uid":"7a26d663816336ad187521bc216654ea9a3471047817d053c75cc82482e0da1c"}}'
  recorded_at: Wed, 06 Aug 2014 07:33:47 GMT
- request:
    method: post
    uri: https://madmimi.com/spree/activate
    body:
      encoding: US-ASCII
      string: access_token=33a5253abc24e6359072bc245f7682a4ada6629b6f893a4df379808d20bf60bd&api_key=&store_url=http%3A%2F%2Flocalhost%3A4000
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"7363e85fe9edee6f053a4b319588c086"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true}'
  recorded_at: Wed, 06 Aug 2014 07:33:49 GMT
- request:
    method: post
    uri: https://madmimi.com/oauth/token
    body:
      encoding: US-ASCII
      string: client_id=7a26d663816336ad187521bc216654ea9a3471047817d053c75cc82482e0da1c&client_secret=f54bea065741fb0f99c0a9909f3c3b70ce965618f39daadfb0f33b664de6f1fe&refresh_token=d479bb6fd732ac29cec4fd145e3ae6cfa77b262856da07595b5674704485821b&grant_type=refresh_token
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ce1d56d0e1883da14df04ed653011ffd"'
    body:
      encoding: UTF-8
      string: ! '{"access_token":"33a5253abc24e6359072bc245f7682a4ada6629b6f893a4df379808d20bf60bd","token_type":"bearer","expires_in":7200,"refresh_token":"d479bb6fd732ac29cec4fd145e3ae6cfa77b262856da07595b5674704485821b","scope":"public
        write"}'
  recorded_at: Wed, 06 Aug 2014 08:19:10 GMT
- request:
    method: post
    uri: https://madmimi.com/spree/deactivate
    body:
      encoding: US-ASCII
      string: access_token=33a5253abc24e6359072bc245f7682a4ada6629b6f893a4df379808d20bf60bd
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"7363e85fe9edee6f053a4b319588c086"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true}'
  recorded_at: Wed, 06 Aug 2014 09:34:42 GMT
- request:
    method: get
    uri: https://madmimi.com/apiv2/signups/29
    body:
      encoding: UTF-8
      string: access_token=fef30b33104f976f842d6c06da8c34afedd7c6089d872d41857a76d411b6266e
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"23b2974bde046db998d5d5c0bf9c982c"'
    body:
      encoding: UTF-8
      string: ! '{"id":29,"name":"Web Form 1","thumbnail":"/assets/default_signup_thumbnail.png","url":"http://localhost:3000/signups/29/join","submit":"http://localhost:3000/signups/subscribe/29","header":{"color":"#EFEFEF","text":"Test
        Example"},"background":{"color":"#EFEFEF","image":null,"repeat":"repeat"},"fields":[{"name":"signup[email]","display":"Email","value":null,"type":"string","required":true,"field_type":null,"options":null,"field_name":"email"}],"lists_required":null,"translations":{"language":null,"error":"\u2191
        some required fields","subscribe":"Subscribe","thank_you":"Thank you!","sending":"Sending...","choose_option":"Choose
        an option","choose_list":"\u2191 Choose a list"},"side_tab_embed_code":"\u003Ca
        id=\"webform_side_tab\"\u003ESubscribe\u003C/a\u003E\u003Cscript type=\"text/javascript\"
        src=\"http://localhost:3000/signups/29/webform_side_tab.js\"\u003E\u003C/script\u003E"}'
  recorded_at: Mon, 11 Aug 2014 14:57:47 GMT
- request:
    method: get
    uri: https://madmimi.com/apiv2/signups
    body:
      encoding: UTF-8
      string: access_token=fef30b33104f976f842d6c06da8c34afedd7c6089d872d41857a76d411b6266e
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a023673389aa8ffe405391f220c0960a"'
    body:
      encoding: UTF-8
      string: ! '{"total":2,"signups":[{"id":29,"name":"Web Form 1","thumbnail":"/assets/default_signup_thumbnail.png","url":"http://localhost:3000/signups/29/join"},{"id":30,"name":"Web
        Form 2","thumbnail":"/assets/default_signup_thumbnail.png","url":"http://localhost:3000/signups/30/join"}]}'
  recorded_at: Mon, 11 Aug 2014 14:57:48 GMT
- request:
    method: get
    uri: https://madmimi.com/apiv2/signups/0
    body:
      encoding: UTF-8
      string: access_token=fef30b33104f976f842d6c06da8c34afedd7c6089d872d41857a76d411b6266e
    headers: {}
  response:
    status:
      code: 404
      message: ! 'Not Found '
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ! "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\"
        />\n  <title>Action Controller: Exception caught</title>\n  <style>\n    body
        { background-color: #fff; color: #333; }\n\n    body, p, ol, ul, td {\n      font-family:
        helvetica, verdana, arial, sans-serif;\n      font-size:   13px;\n      line-height:
        18px;\n    }\n\n    pre {\n      background-color: #eee;\n      padding: 10px;\n
        \     font-size: 11px;\n      white-space: pre-wrap;\n    }\n\n    a { color:
        #000; }\n    a:visited { color: #666; }\n    a:hover { color: #fff; background-color:#000;
        }\n  </style>\n</head>\n<body>\n\n<h1>\n  ActiveRecord::RecordNotFound\n    in
        Apiv2::SignupsController#show\n</h1>\n<pre>Couldn&#x27;t find Signup with
        id=0 [WHERE `signups`.`user_id` = 52615]</pre>\n\n\n<p><code>Rails.root: /Users/mgladkov/Projects/mimi/madmimi</code></p>\n\n<div
        id=\"traces\">\n    <a href=\"#\" onclick=\"document.getElementById(&#x27;Framework-Trace&#x27;).style.display=&#x27;none&#x27;;document.getElementById(&#x27;Full-Trace&#x27;).style.display=&#x27;none&#x27;;document.getElementById(&#x27;Application-Trace&#x27;).style.display=&#x27;block&#x27;;;
        return false;\">Application Trace</a> |\n    <a href=\"#\" onclick=\"document.getElementById(&#x27;Application-Trace&#x27;).style.display=&#x27;none&#x27;;document.getElementById(&#x27;Full-Trace&#x27;).style.display=&#x27;none&#x27;;document.getElementById(&#x27;Framework-Trace&#x27;).style.display=&#x27;block&#x27;;;
        return false;\">Framework Trace</a> |\n    <a href=\"#\" onclick=\"document.getElementById(&#x27;Application-Trace&#x27;).style.display=&#x27;none&#x27;;document.getElementById(&#x27;Framework-Trace&#x27;).style.display=&#x27;none&#x27;;document.getElementById(&#x27;Full-Trace&#x27;).style.display=&#x27;block&#x27;;;
        return false;\">Full Trace</a> \n\n    <div id=\"Application-Trace\" style=\"display:
        block;\">\n      <pre><code>app/controllers/apiv2/signups_controller.rb:25:in
        `show&#x27;\napp/controllers/application_controller.rb:297:in `block in determine_ssl&#x27;\nconfig/initializers/paperclip.rb:12:in
        `call&#x27;\nconfig/initializers/paperclip.rb:12:in `http&#x27;\napp/controllers/application_controller.rb:296:in
        `determine_ssl&#x27;</code></pre>\n    </div>\n    <div id=\"Framework-Trace\"
        style=\"display[...]
[...]
- request:
    method: get
    uri: https://madmimi.com/apiv2/signups/29
    body:
      encoding: UTF-8
      string: access_token=fef30b33104f976f842d6c06da8c34afedd7c6089d872d41857a76d411b6266e
    headers: {}
  response:
    status:
      code: 200
      message: ! 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"23b2974bde046db998d5d5c0bf9c982c"'
    body:
      encoding: UTF-8
      string: ! '{"id":29,"name":"Web Form 1","thumbnail":"/assets/default_signup_thumbnail.png","url":"http://localhost:3000/signups/29/join","submit":"http://localhost:3000/signups/subscribe/29","header":{"color":"#EFEFEF","text":"Test
        Example"},"background":{"color":"#EFEFEF","image":null,"repeat":"repeat"},"fields":[{"name":"signup[email]","display":"Email","value":null,"type":"string","required":true,"field_type":null,"options":null,"field_name":"email"}],"lists_required":null,"translations":{"language":null,"error":"\u2191
        some required fields","subscribe":"Subscribe","thank_you":"Thank you!","sending":"Sending...","choose_option":"Choose
        an option","choose_list":"\u2191 Choose a list"},"side_tab_embed_code":"\u003Ca
        id=\"webform_side_tab\"\u003ESubscribe\u003C/a\u003E\u003Cscript type=\"text/javascript\"
        src=\"http://localhost:3000/signups/29/webform_side_tab.js\"\u003E\u003C/script\u003E"}'
  recorded_at: Mon, 11 Aug 2014 15:08:20 GMT
recorded_with: VCR 2.9.2
